

.w-custom{
    width: 88%;
    
}

.widthh1{
    width: 40%;
}

.widthh2{
    position: absolute;
    right: 0%;
    bottom: -17%;
    /* padding-bottom: 40%; */
    width: 58%;
    /* margin-bottom: 30; */
    
}